:root {
    --navwidth: 160px;
    
    --ucf-primary: #FFCC00;
    --ucf-black: #1B1B1B;
    --ucf-dkgrey: #3D3D3D;
    --ucf-mdgrey: #989898;
    --ucf-ltgrey: #E1E1E1;
    
    --ucf-h1: font-family: 'Montserrat', sans-serif font-size: 32px font-weight: 500;
    --ucf-h2: font-family: 'Montserrat', sans-serif font-size: 24px font-weight: 700;
    --ucf-h3: font-family: 'Montserrat', sans-serif font-size: 18px font-weight: 700;
    --ucf-h4: font-family: 'Montserrat', sans-serif font-size: 18px font-weight: 500;
    
    --ucf-p1: font-family: 'Open Sans', sans-serif font-size: 18px font-weight: 700;
    --ucf-p2: font-family: 'Open Sans', sans-serif font-size: 18px font-weight: 600;
    --ucf-p3: font-family: 'Open Sans', sans-serif font-size: 16px font-weight: 400;

    --ucf-th: font-family: 'Open Sans', sans-serif font-size: 18px font-weight: 700;
    --ucf-tb: font-family: 'Open Sans', sans-serif font-size: 18px font-weight: 600;
    
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    margin-left: var(--navwidth);
}

.navbar-brand {
   font-size: 32px;
}


/* --------------------------SIDEBAR------------------------- */
.sidebar {
    position: fixed;
    width: var(--navwidth);
    height: 100vh;
    left: 0px;
    top: 0px;
    background: var(--ucf-black);
}

.nav-list {
    list-style-type: none;
    text-align: center;
}

.nav-items {
    color: var(--ucf-primary);
}

.nav-items img {
    display: block;
    margin: auto;
}

.links-name {
    color: var(--ucf-primary);
}

.user-img {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 48px;
    top: 32px;
}

.nav-dashboard {
    position: absolute;
    width: 101px;
    height: 86px;
    left: 30px;
    top: 144px;
}

.nav-selfserv {
    position: absolute;
    width: 105px;
    height: 86px;
    left: 27px;
    top: 254px;
}

.nav-settings {
    position: absolute;
    width: 76px;
    height: 86px;
    left: 42px;
    top: 364px;
}

.nav-help {
    position: absolute;
    width: 56px;
    height: 86px;
    left: 52px;
    top: 474px;
}

.nav-other {
    position: absolute;
    width: 56px;
    height: 86px;
    left: 52px;
    top: 584px;
}

.left-margin {
    margin-left: var(--navwidth);
}

/* ----------------------BACKGROUND IMAGE------------------------- */
body {
    background-image: url("../images/PegasusBackgroundLogo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
}



/* ----------------------ANNOUNCEMENTS AND TO DOS------------------------- */
.announcements {
    padding: 20px;
    border-style: solid;
    border-left-width: 32px;
    border-right-width: 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
}

/* --------------------------MIDDLE NAV TILES------------------------------ */
.nav-tiles {
   color: var(--ucf-primary);
   text-align: center;
}

.nav-tiles img {
    display: block;
    margin: auto;
    width: 60%;
}

.nav-tile {
    cursor: pointer;
    background-color: var(--ucf-black);
    padding: 18px;
    margin-top: 20px;
}
.nav-tile a{
    color:var(--ucf-primary);
    text-decoration: none;
}

.main{
    padding-left: var(--navwidth);
}


@media (min-width: 575.98px) {
    .nav-tiles img {
        display: block;
        margin: auto;
        width: 10%;
    }
}


@media (min-width: 767.98px) {
    .nav-tiles img {
        display: block;
        margin: auto;
        width: 30%;
    }
}

@media (min-width: 991.98px) {
    .nav-tiles img {
        display: block;
        margin: auto;
        width: 50%;
    }
}


@media (min-width: 1199.98px) {
    .nav-tiles img {
        display: block;
        margin: auto;
        width: 50%;
    }
}


@media (min-width: 1399.98px) {
    .nav-tiles img {
        display: block;
        margin: auto;
        width: 50%;
    }
}

/* -------------------------SCHEDULE HEADER AND TABLE--------------------- */

.schedule-header {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font: var(--ucf-h1);
}

.table-links {
    background-color: var(--ucf-black);
    color: white;
    display: flex;
    justify-content: flex-start;
}

.schedule-table {
    margin: 0;
    padding: 0;
    background-color: var(--ucf-mdgrey);
}



.semester-one {
    margin: 10px;
    cursor: pointer;
}

.semester-two {
    margin: 10px;
    cursor: pointer;
}

.semester-all {
    margin: 10px;
    cursor: pointer;
}

/* -------------------------------BUTTON ROW ------------------------- */

.button-row {
    display: flex;
    justify-content: flex-start;
}

.button-class {
    border: solid;
    border-width: 1px;
    border-color: var(--ucf-black);
    margin: 10px;
}

.button-books {
    border: solid;
    border-width: 1px;
    border-color: var(--ucf-black);
    margin: 10px;
}

.button-grades {
    border: solid;
    border-width: 1px;
    border-color: var(--ucf-black);
    margin: 10px;
}

.button-transcripts {
    border: solid;
    border-width: 1px;
    border-color: var(--ucf-black);
    margin: 10px;
}

.button-other {
    border: solid;
    border-width: 1px;
    border-color: var(--ucf-black);
    margin: 10px;
}

/* --------------------------------ACCOUNTS------------------------- */

.accounts-links a {
    border: none;
}

.financial-links a {
    border: none;
}

.accounts-links {
    padding-right: 85%;
}

.financial-links {
    padding-right: 84%;
}

/* -----------------------------------TERM SELECT-------------------------------- */

.termselect-head {
    font: var(--ucf-h1);
}

.term-table-head {
    padding: 5px;
    color: white;
    font: var(--ucf-h1);
    background-color: var(--ucf-black);
}

.term-table-one {
    background-color: var(--ucf-ltgrey);
}

.term-table-two {
    background-color: var(--ucf-mdgrey);
}

.term-table-three {
    background-color: var(--ucf-ltgrey);
}

/*---------------------------Links No Underline---------------------------------------*/

a:link {
    text-decoration: none !important;
 }

 a:visited {
    text-decoration: none !important;
 }

 a:hover {
    text-decoration: none !important;
 }

 a:active {
    text-decoration: none !important;
 }

a:focus {
    text-decoration: none !important;
}


/* -----------------------------------SEARCH FORM-------------------------------- */

.search-form {
    background-color: rgba(225, 225, 225, 1);
    padding:20px;
    width:616px;
    border: black solid 2px;
    margin-bottom: 26px;
}

/*-------FORM&OX---------*/

.head2{
    margin-top:5% ;
    margin-left:13%;
    margin-right: 1%;
}

.container-form{
    
    display: flex;
    justify-content:center;
    align-items: center;
    height:700px;  
}
.login-form{
    background-color: rgba(225, 225, 225, 1);
    padding:0px;
    width:616px;
    border: var(--ucf-black) solid 2px;
    margin-bottom: 26px;
}

.login-form h1 {
    font-size: 18px;
  font-weight: bold;
  color:#FFFFFF ;
  text-decoration: none;
  padding: 10px 16px;
    list-style: none;
    background-color: var(--ucf-black);
    margin-bottom: 26px;
}



/*------BUTTONS&FIELD---------*/

.flex-input{
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin: 20px;
}

label {
    flex-basis: 250px;
    margin-top: 10px;
    font-size:20px;
}
input[type="text"]{
    width:251px;
    height:34px;
    border: var(--ucf-black) solid 2px;
}
.course-n input[type="text"]{
    width:88px;
    height:34px;
    margin-left: 9px;
}
select{
    width:251px;
    height:34px;
    margin-top: 10px;
    border:var(--ucf-black) solid 2px; 
}
select[name=Course-number]{
    width:154px;
}
select[name=advanced]{
    width:125px;
    
}

input[type="reset"], input[type="button"]{
    width: 117px;
    height: 34px;
    font-size: 20px;
    padding: 0px;
    border:var(--ucf-black) solid 2px;
    border: --ucf-black solid 2px;
    margin: 17px ;
    margin-left: 270px;

}
input[type="button" ]{
    background-color:var(--ucf-black);
    background-color: var(--ucf-black);
    color: white;
    margin: 20px 0;

}

input[type="button"]:hover {
    cursor: pointer;
    background-color:var(--ucf-primary);
    color: var(--ucf-black)
}

/*-------BUTTONS&FIELD---------*/

ul.breadcrumb{
    padding: 10px 0px;
    list-style: none;
    
}
/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: rgba(186, 186, 186, 1);
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  /* FOR BLACK SEARCH NAV */

  ul.search-nav {
    padding: 10px 16px;
    list-style: none;
    background-color: #1B1B1B;
  }
  
  /* Display list items side by side */
  ul.search-nav li {
    display: inline;
    font-size: 18px;
    padding-left: 20px;
  }
  
 
  
  /* Add a color to all links inside the list */
  .search-nav li a {
      font-weight: bold;
    color:#FFFFFF ;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  .search-nav li a:hover {
    color:#FFCC00;
    

  }
  .search-nav li a.active{
    color:#FFCC00;
    border-bottom:#FFCC00 solid 3px ;
    padding-bottom: 9px;
  }
    

/* -----------------------------------SHOPPING CART-------------------------------- */
th, td {
    padding: 10px;
  }

/* -----------------------------------BUTTONS-------------------------------- */
a.btn {
    text-decoration: none !important;
    color: var(--ucf-black);
  }

  .btn-primary {
    background-color: var(--ucf-ltgrey);
    color: var(--ucf-black);
    font: var(--ucf-p1);
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid var(--ucf-black);
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none;
  }

  .btn-primary:hover {
	background-color: var(--ucf-primary);
    color: var(--ucf-black);
    font: var(--ucf-p1);
    border-radius: 0;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid var(--ucf-black);
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none;
}

.btn-primary:active {
	background-color: var(--ucf-black);
    color: white;
    font: var(--ucf-p1);
    font-weight: bold;
    border-radius: 0;
    text-transform: uppercase;
    border: 2px solid var(--ucf-black);
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none;
}
.btn:focus {
	background-color: var(--ucf-black);
    color: white;
    font: var(--ucf-p1);
    font-weight: bold;
    border-radius: 0;
    text-transform: uppercase;
    border: 2px solid var(--ucf-black);
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none;
  }
