:root {
    --navwidth: 160px;

}

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    width: var(--navwidth);
    height: 100vh;
    left: 0px;
    top: 0px;

    background: #1B1B1B;
}

.nav-list {
    list-style-type: none;
    text-align: center;
}

.nav-items {
    color: #FFCC00;
}

.nav-items img {
    display: block;
    margin: auto;
}

.links-name {
    color: #FFCC00;
}

.user-img {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 48px;
    top: 32px;
}

.nav-dashboard {
    position: absolute;
    width: 101px;
    height: 86px;
    left: 30px;
    top: 144px;
}

.nav-selfserv {
    position: absolute;
    width: 105px;
    height: 86px;
    left: 27px;
    top: 254px;
}

.nav-settings {
    position: absolute;
    width: 76px;
    height: 86px;
    left: 42px;
    top: 364px;
}

.nav-help {
    position: absolute;
    width: 56px;
    height: 86px;
    left: 52px;
    top: 474px;
}

.nav-other {
    position: absolute;
    width: 56px;
    height: 86px;
    left: 52px;
    top: 584px;
}

.left-margin {
    margin-left: var(--navwidth);
}

.announcements {
    padding: 20px;
    border-style: solid;
    border-left-width: 32px;
    border-right-width: 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
}

.main{
    padding-left: var(--navwidth);
}